<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Tomislav Kožul">
    <title>Breakout</title>
    <link rel="stylesheet" href="style.css">
    <script src="/index.js" defer></script>    
</head>
<body>
    <header>
        <h1 class="game-title">Breakout</h1>
    </header>
    <main>
        <canvas id="gameCanvas">
            
        </canvas>
        
    </main>

    <p class="copyright">© 2024 Tomislav Kožul</p>
</body>
</html>
