@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    background-color: #444;
    font-family: 'Press Start 2P', cursive;
}

header {
    text-align: center;
}

.game-title {
    font-size: 3rem;
    color: #e26a1f;
    text-shadow: 2px 2px #ff0000;
}

canvas#gameCanvas {
    border: 3px solid #e26a1f;
    background-color: #000;
    width: 1000px;
    height: 500px;
}

.copyright {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #555;
}